{%extends 'templates/app.twig'%}
{% block head %}
<link rel="stylesheet" href= "{{baseUrl}}/resources/css/update/recover_pass.css">
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-5 col-md-offset-5">
      <h2>Внеси Еmail</h2>
      <form action="{{path_for('password.recover')}}" method="post" autocomplete="off">
        <div class="form-group">
        <input type="text"  id="email" class="form-control" placeholder="Внеси Е-mail" name="email" />
        {% if errors.first('email') %}
        <span class="help-block">{{errors.first('email')}}</span>
        {% endif %}
        </div>
        {{ csrf_field() | raw }}
        <button type="submit" class="btn btn-danger">Продолжи</button>
      </form>
    </div>
  </div>
{% endblock %}
