<style media="screen">
  #wheel{
    width: 100%;
    height: 100%;
    margin-bottom: 35px;
  }
  .btn:disabled {
    background-color: var(--dark);
    border-color: var(--dark);
  }
  #svg{
    position: absolute;
    left: 43%;
    top:-10px;
    fill:#000;
  }
</style>
<div class='container p-0'></div>
<div class="card-columns" style="column-count:1;">
  <div class="card">
    <div class="card-body">
      <svg id="svg" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" >
          <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <img id="wheel" src="{{baseUrl}}/resources/img/wheel.png">
      <button id="btn" class="btn btn-danger"> Spin To win</button>
    </div>
  </div>
 </div>
<script type="text/javascript">
var x = 720;
 $('#btn').click(function(){
  $.get("{{path_for('post.trkalo')}}",function(data){
    if(data.length > 2){
      $('#container').children('.container').html(data);
    }else{
      x += ( 30 * parseInt(data)) - 30;
      $('#wheel').rotate({
        angle:0,
        animateTo:x,
        callback: function(){
          $('#btn').prop('disabled', true);
        }
      });
    }
    refreshStats();
  });
 });

</script>
